// FELX复用
@mixin flex($hov:space-between,$col:center){
  display: flex;
  justify-content: $hov;
  align-items: $col;
}
@mixin bgImg($wid:0px, $heig:0px,$urlAd:'',$size:contain){
  display:inline-block;
  width: $wid;
  height: $heig;
  background:url($urlAd) no-repeat center;
  background-size: $size;
}
